* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    background-color: #3c2803;
    /* height: 1000px; */
}


/* Header style */
#index header {
    position: fixed;
    height: 80px;
    box-sizing: border-box;
    background-color: #3c2803;
    z-index: 10;
    width: 100%;
}

#index header img {
    width: 50px;
    margin: 15px 30px;
}

#index header nav {
    display: inline-block;
    float: right;
}

#index header nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#index header nav ul a {
    text-decoration: none;
    display: inline-block;
}

#index header nav ul a:hover {
    background-color: #6f6262;
}

#index header nav ul li {
    font-size: 14pt;
    font-family: Times New Roman;
    color:#f7d56f;
    padding: 30px;
}

@media only screen and (max-width: 1200px) {
    #index header img {
        width: 40px;
        margin: 5px;
    }

    #index header nav ul li {
        padding: 15px;
    }
}

/* part1 style */
#index section .box {
    /* padding: 13% 0; */
    padding-top: 16%;
    padding-bottom: 12%;
    width: 50%;
    text-align: center;
    margin: auto;
}

#index section .content-1 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* top: 80px; */
}

#index section .content-1 h1 {
    color: #f9d79b;
    writing-mode: tb-rl;
    text-orientation: upright;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    padding-left: 2%;
}

@media only screen and (max-width: 1200px) {
    #index section .box {
        width: 90%;
    }

    #index section .content-1 h1 {
        letter-spacing: 5px;
    }
}

#index section .content-1 .sub-content-1 {
    display: inline-block;
    padding-left: 5%;
    width: 70%;
    vertical-align: middle;
    text-align: left;
}

#index section .content-1 .sub-content-1 h5 {
    color: #ffffff;;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman;
    letter-spacing: 5px;
    padding: 15px 0;
}

#index section .content-1 .sub-content-1 h2 {
    color: #fcc201;;
    font-size: 55px;
    font-family: Georgia;
}

#index section .content-1 .sub-content-1 .description {
    color: #acacac;
    font-size: 20px;
    width: 85%;
    font-family: sans-serif;
}

#index section .content-1 .sub-content-1 .description #cheat {
    font-size: 15px;
    color: #5e5d5d;
}

#index section .content-1 .sub-content-1 .poke {
    margin-top: 5%;
}

#index section .content-1 .sub-content-1 .poke a{
    text-decoration: none;
    color: #b98787;
    float: right;
}

#index section .content-1 .sub-content-1 .poke a img{
    width: 50px;
}

/* part2 style */

#index section .content-2 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* top: 80px; */
}

#index section .content-2 .box2 {
    width: 50%;
    margin: auto;
    padding-top: 17%;
    padding-bottom: 15%;
}

#index section .content-2 h3 {
    color: #ffffff;
    font-size: 25px;
    width: max-content;
    padding-bottom: 10px;
    border-bottom: 5px dashed #cc8d19;
}

#index section .content-2 p {
    color: #acacac;
    font-size: 18px;
    width: 90%;
    margin-top: 30px;
}

#index section .content-2 .box2 #profile {
    width: 30%;
    border-radius: 140px;
    filter: grayscale(100%);
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
}

#index section .content-2 .box2 #profile:hover {
    filter: none;
}

#index section .content-2 .box2 .tools {
    width: 65%;
    float: right;
}

#index section .content-2 .box2 .tools .tool{
    display: inline-block;
    font-family: sans-serif;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
    margin-right: 3px;
}

#index section .content-2 .box2 .tools .html-logo{
    background-color: #027eaa;
}

#index section .content-2 .box2 .tools .css-logo{
    background-color: #b12315;
}

#index section .content-2 .box2 .tools .js-logo{
    background-color: #02ae01;
}

#index section .content-2 .box2 .tools .php-logo{
    background-color: #c69000;
}

#index section .content-2 .sub-content-2 {
    width: 65%;
    padding-left: 5%;
    float: right;
    padding-top: 15px;
}

@media only screen and (max-width: 1200px) {
    #index section .content-2 .box2 {
        width: 90%;
        text-align: center;
    }

    #index section .content-2 .sub-content-2 {
        width: 100%;
        padding-left: 0;
        float: none;
    }

    #index section .content-2 h3 {
        margin: auto;
        width: 50%;
    }

    #index section .content-2 .box2 .tools {
        width: 100%;
        float: none;
        margin-top: 30px;
    }

    #index section .content-2 p {
        margin: 30px auto;
    }
}

#index section .content-2 .sub-content-2 .name {
    color: #f9b247;
    font-size: 27px;
}

#index section .content-2 .sub-content-2 .point {
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff21;
}

/* part3 style */
#index section .content-3 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* top: 80px; */
}

#index section .content-3 .box3 {
    width: 50%;
    margin: auto;
    /* padding: 18% 0px; */
    padding-top: 17%;
    padding-bottom: 10%;
    text-align: center;
}

#index section .content-3 h3 {
    color: #ffffff;
    font-size: 25px;
    width: max-content;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px dashed #cc8d19;
}

#index section .content-3 .sub-content-3 {
    display: inline-block;
    width: 70%;
    color: #d0c4ad;
    margin-left: 7%;
}

@media only screen and (max-width: 1200px) {
    #index section .content-3 .box3 {
        width: 90%;
    }

    #index section .content-3 .sub-content-3 {
        margin: auto;
        padding-top: 30px;
    }

    #index section .content-3 h3 {
        display: inherit;
        margin: auto;
        width: 70%;
    }
}

#index section .content-3 .sub-content-3 .colom {
    border-radius: 6px;
    padding: 10px 20px;
    /* background: linear-gradient(45deg, rgb(94, 57, 20) 0%, rgb(145, 97, 49) 75%, rgb(149, 122, 93) 100%); */
    background-color: #8a775f26;
    margin-bottom: 30px;
}

#index section .content-3 .sub-content-3 .colom:hover {
    box-shadow: 1px 1px 14px -1px#fff;
}

#index section .content-3 .sub-content-3 .colom h4 {
    padding-bottom: 10px;
    border-bottom: solid 1px#c2826aba;
    margin-bottom: 10px;
    color: #f79d3ede;
    font-family: sans-serif;
}

#index section .content-3 .sub-content-3 .colom span {
    color: #ffaa90;
    font-family: sans-serif;
}

/* part4 style */
#index section .content-4 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* top: 80px; */
}

#index section .content-4 .box4 {
    width: 50%;
    margin: auto;
    /* padding: 13% 0px; */
    padding-top: 17%;
    padding-bottom: 18%;
    text-align: center;
}

#index section .content-4 .box4 h3 {
    color: #ffffff;
    font-size: 25px;
    width: max-content;
    padding-bottom: 10px;
    border-bottom: 5px dashed #cc8d19;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    #index section .content-4 .box4 {
        width: 100%;
    }

    #index section .content-4 .box4 h3 {
        width: 50%;
    }
}

#index section .content-4 .box4 p {
    width: 60%;
    margin: auto;
    padding-top: 30px;
    line-height: 1.5;
    color:#fff;
    font-size: 20px;
    font-family: sans-serif;
}

#index section .content-4 .box4 a {
    display: inline-block;
    text-decoration: none;
    color:#f9b618;
    margin: 10px;
    padding: 5px;
    background-color:#d9d7d638;
    /* box-sizing: border-box; */
}

#index section .content-4 .box4 a:hover {
    border: #fff 1px solid;
    box-sizing: border-box;
}

#index section .content-4 .box4 img{
    display: inline-block;
    float: right;
    width: 15px;
}

/* footer style */
#index footer {
    text-align: center;
    width: 100%;
    position: relative;
    background-color: #6f4b08;
}

#index footer .box4 {
    width: 50%;
    margin: auto;
    padding-top: 13%;
    text-align: center;
    padding-bottom: 20%;
}

#index footer h4{
    color: #fff;
    font-size: 15px;
    padding: 20px 0;
}